* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(202, 153, 204);
}
.img-logo {
    height: 2rem;
    width: 9rem;
}
a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.carousel-item {
    height: 10vh;
    background-color: rgb(240, 209, 241);
}
.carousel-item h1 {
    text-align: center;
}
.main-form {
    height: 10vh;
    display: flex;
    margin: 1rem;
}
.input-group {
    min-width: 25rem;
}
#main-div-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 1rem;
}
main {
    display: flex;
    flex-direction: column;
}
footer {
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(202, 153, 204);

}
.img-footer {
    height: 2rem;
    width: 2rem;
}
.box-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 66vh;
}
.div-table {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, th, td {
    border: 3px solid rgb(0, 0, 0);
    height: 3rem;
    margin: 1rem 0;
    padding: 1rem;
}
.div-details {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.img-datails {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border: 2px solid rgb(170, 51, 206);
    border-radius: 15px;
}
.info-details {
    text-align: center;
}

/* HASTA ACA DESKTOP */


/*  MOBILE  */

@media only screen and (min-width: 320px) and (max-width: 767px){

    header {
        flex-direction: column;
        height: 33vh;
    }
    header nav {
        display: flex;
        flex-direction: column;
    }
    a {
        padding: 0;
    }
}
